@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background: black;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
  background-image: url("img/hheader.jpg");
}

#hLogo {
  padding-top: 25px;
  padding-left: 25px;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

#hlogos {
  width: 620px;
  margin: 30px 10;
  padding-bottom: 20px;
}

.header nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-secondary {
  margin-top: 25px;
  margin-left: 100px;
  color: black;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.btn-cta {
  background-color: #1ce783;
  height: 50px;
  width: 700px;
  margin-bottom: 20px;
}

.header-content h6 {
  color: #1ce783;
  padding-bottom: 20px;
  font-size: 15px;
}

.header-text-1 {
  padding-bottom: 20px;
  font-size: 24px;
}

.huluOnlysignup {
  margin-bottom: 125px;
}

.Included {
  color: #1ce783;
}
